@charset 'utf8'

@import 'colours'
@import 'variables'
@import '~@fortawesome/fontawesome-free/scss/fontawesome'
@import '~@fortawesome/fontawesome-free/scss/solid'
@import '~@fortawesome/fontawesome-free/scss/regular'
@import '~@fortawesome/fontawesome-free/scss/brands'
@import '~bulma/sass/base/minireset'
@import '~bulma/sass/utilities/all'
@import '~bulma/sass/elements/container'
@import '~bulma/sass/grid/columns'
@import 'typography'
@import 'header'
@import 'common'
@import 'button'
@import 'hero'
@import 'form'
@import 'terminal'
@import 'datepicker'
@import 'modal'

html, body
  background: $background
  color: $text-primary
  height: 100%
  font-family: $font-family-roboto
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent

  .main
    margin: 70px 0

  .box
    display: block
    padding: 20px 10px
    border-radius: 6px
    box-shadow: $box-shadow

  &.is-dark
    background: $background-dark
    color: #BEC6E0

    .box
      background: #323B64
      box-shadow: 0 9px 14px -6px rgba(23,30,61,0.59)
