<header class="header">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="header-container">
          <div class="header-left">
            <a [routerLink]="['/']">
              <i class="fab fa-angular"></i>
            </a>
          </div>
          <div class="header-center">
            <nav class="nav-main">
              <a [routerLink]="['/line']">Line & Area Chart</a>
              <a [routerLink]="['/realtime']">Realtime Chart</a>
              <a [routerLink]="['/pie']">Pie Chart</a>
            </nav>
          </div>
          <div class="header-right">
            <span>light</span>
            <app-toggle name="is_dark" [(ngModel)]="isDark" (ngModelChange)="setTheme()"></app-toggle>
            <span>dark</span>
            <a href="https://github.com/jkuri/ngx-graph" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
