<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-left">
        <a [routerLink]="['/']">
          <i class="fab fa-angular"></i>
        </a>
      </div>
      <div class="header-center">
        <nav class="nav-main">
          <a [routerLink]="['/line']" routerLinkActive="is-active">Line & Area Chart</a>
          <a [routerLink]="['/realtime']" routerLinkActive="is-active">Realtime Chart</a>
          <a [routerLink]="['/realtime-canvas']" routerLinkActive="is-active">Realtime Canvas Chart</a>
          <a [routerLink]="['/pie']" routerLinkActive="is-active">Pie Chart</a>
        </nav>
      </div>
      <div class="header-right">
        <a href="https://github.com/jkuri/ngx-graph" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</header>
